html{
font-size: 10px;
}


body {
margin: 0 auto;
font-family: 'Space Grotesk', sans-serif;
font-weight: 400;
}

.main{
width: 100%;
background: linear-gradient(112.23deg,
    #3E718E 0%,
    #64969B 100%);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.blok{
width: 67%;
height: 69%;
display: flex;
}

.box{
display: flex;
background-color: #FFFFFF;
width: 50%;
flex-direction: column;
}
.box1{
display: flex;
justify-content: center;
}

.form{
flex-direction: column;
display: flex;
justify-content: space-between;
}

.field{
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.header{
font-weight: 700;
font-size: 2.4rem;
background: linear-gradient(93.38deg, #496F74 -3.47%, #6E9195 35.61%, #2D4F61 84.29%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
padding-top: 1.1rem;
margin-left: 3.2rem;
}

.h3{
font-size: 20px;
color: #000000;
}

label{
font-size: 1.6rem;
color: #000000;
}

input{
font-size: 1.2rem;
color: #CCCCCC;
border: 1px solid #CCCCCC;
box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
border-radius: 4px;
padding: 2% 0;
}

.text{
font-size: 1.0rem;
color: #A8A8A8;
}

.down{
margin-bottom: 20%;
}


span{
font-size: 1.2rem;
color: #A8A8A8;
}

.button{
background-color: #27485D;
border: 1px solid #284A5E;
box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
border-radius: 4px;
font-weight: 700;
font-size: 1.6rem;
color: #FFFFFF;
width: 100%;
}
.sell-button{
overflow: hidden;
}
.under-button{
font-weight: 700;
font-size: 1.6rem;
color: #C4C4C4;
text-align: center;

}

.under-button>a{
font-weight: 700;
font-size: 1.6rem;
color: #476D73;

}

.box2{
background: linear-gradient(160.42deg, #517879 0%, #214159 100%);
box-shadow: 0px 0px 10px 9px #4E7577;
width: 50%;
padding-top: 1rem;

}

.box2-header{
display: flex;
justify-content: end;

}

.box2-header>div{
display: flex;
justify-content: space-evenly;
margin-right: 2rem;
}

.box2-header>div>div{
margin-left: 2.4rem;
}

.box2-header a{
font-weight: 700;
font-size: 1.6rem;
text-decoration: none;
color: #FFFFFF;
}

.box2-content{
height: 95%;
display: flex;
flex-direction: column;
justify-content: center;
margin: 0 7rem 0 6rem;
overflow: hidden;
}

.box2-text1{
font-weight: 700;
font-size: 48px;
color: #FFFFFF;
text-shadow: 3px 3px 2px rgb(106, 121, 138);
}

.box2-text2{
font-weight: 700;
font-size: 16px;
color: #FFFFFF;
}

@media screen and (max-width: 768px)
{

.box2 {
visibility: hidden;
display: none;
}

.h3 {
font-size: 1.8rem;
color: #24445B;
}
.label {
font-size: 1.4rem;
color: #000000;
}


}
