:root{
    --main-color: #000000;
    --secondary-color: #FFFFFF;
    font-size: 10px;
}


body{
    margin: 0;
    font-family: 'Rosario', sans-serif;
    font-style: italic;
    font-weight: 700;
    background-color: var(--secondary-color);
}

.gallery,
.services,
.team,
.contact-us{
min-height: 90vh;
}

header{
    margin: 0;
    min-height: 10vh;
    top: 0;
    position: sticky;
    display: flex;
    z-index: 1;
}

.header{
    display: flex;
    width: 100%;
}
.nav{
    display: flex;
    background-color: var(--main-color);
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    
}
.nav-text a {
text-decoration: none;
color: #FFFCFC;
 }

.nav-text{
font-size: 3.6rem;

margin-right: 2%;
box-sizing: border-box;
max-width: 100%;
overflow: hidden;
}

/* gallery */

.gallery{
display: flex;
justify-content: center;
padding: 7.1rem 4.6rem 6.4rem 4.3rem;

}

.gallery-blok-one,
.gallery-blok-two,
.gallery-blok-three,
.gallery-blok-four{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.gallery img{
    max-width: 100%;
}
.gallery-blok-two,
.gallery-blok-three{
margin: 0 1% 2% 1%;
box-sizing: border-box;
}
.gallery-blok-two>img,
.gallery-blok-three>img{
margin-bottom: 3%;
}

.gallery-blok-two{
transform: translateX(-100vw);
animation: animateOne 1s linear 1s alternate forwards;
}
@keyframes animateOne{
0%{
transform: translateX(-100vw);
}
20%{
transform: translateX(-80vw);
}
40%{
transform: translateX(-60vw);
}
60% {
transform: translateX(-40vw);
}
80%{
transform: translateX(-20vw);
}
100%{
transform: translateX(0vw);
}
}

.gallery-blok-three {
    transform: translateX(100vw);
    animation: animateTwo 1s linear 1s alternate forwards;
}

@keyframes animateTwo {
    0% {
        transform: translateX(100vw);
    }

    20% {
        transform: translateX(80vw);
    }

    40% {
        transform: translateX(60vw);
    }

    60% {
        transform: translateX(40vw);
    }

    80% {
        transform: translateX(20vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

.gallery-blok-one {
    transform: translateX(-100vw);
    animation: animateThree 1s linear 2s alternate forwards;
}

@keyframes animateThree {
    0% {
        transform: translateX(-100vw);
    }

    20% {
        transform: translateX(-80vw);
    }

    40% {
        transform: translateX(-60vw);
    }

    60% {
        transform: translateX(-40vw);
    }

    80% {
        transform: translateX(-20vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

.gallery-blok-four {
    transform: translateX(100vw);
    animation: animateFour 1s linear 2s alternate forwards;
}

@keyframes animateFour {
    0% {
        transform: translateX(100vw);
    }

    20% {
        transform: translateX(80vw);
    }

    40% {
        transform: translateX(60vw);
    }

    60% {
        transform: translateX(40vw);
    }

    80% {
        transform: translateX(20vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

/* Services */
.services{
display: flex;
max-width: 100%;
justify-content: space-between;
}

.services img {
display: flex;
max-width: 100%;
}

.services>div{
justify-content: center;
display: flex;
flex-direction: column;
}



.services-img-five{
width: 45%;
}

p{
font-style: italic;
font-size: 4.8rem;
display: flex;
align-items: center;
text-align: center;
color: var(--main-color);
}

.services-img-one {
      animation: animateImgOne 5s linear 0s infinite forwards;
}

@keyframes animateImgOne {
    from,
    to
    {position: relative;
    left: 0;
    top: 0;
        

    }

    25% {
        position: relative;
            left: 525px;
            top: 0;
    }

    50% {
       position: relative;
        left: 525px;
        top: 515px;
    }

    75% {
        position: relative;
        left: 0;
        top: 515px;
                   
    }      

}

.services-img-two {
    animation: animateImgTwo 5s linear 0s infinite forwards;
}

@keyframes animateImgTwo {

from,
to {
    position: relative;
    left: 0;
    top: 0;
   }

    25% {
    position: relative;
    left: 0;
    top: -504px;
    }

    50% {
    position: relative;
    left: 525px;
     top: -504px;
    }

    75% {
    position: relative;
    left: 525px;
    top: 0;
    }

}



.services-img-three {
    animation: animateImgThree 5s linear 0s infinite forwards;
}

@keyframes animateImgThree {

    from,
    to {
        position: relative;
        left: 0;
        top: 0;
    }

    25% {
        position: relative;
        left: 0;
        top: 515px;
    }

    50% {
        position: relative;
    left: -520px;
    top: 515px;
    }

    75% {
        position: relative;
        left: -515px;
        top: 0;
    }

}



.services-img-four {
    animation: animateImgFour 5s linear 0s infinite forwards;
}

@keyframes animateImgFour {

    from,
    to {
        position: relative;
        left: 0;
        top: 0;


    }

    25% {
        position: relative;
        left: -525px;
        top: 0;
    }

    50% {
        position: relative;
        left: -525px;
        top: -515px;
    }

    75% {
        position: relative;
        left: 0;
        top: -515px;

    }

}

/* team */

.team{
   max-width: 100%;
   margin-bottom: 5%;
   
}

.team img {
    display: flex;
    max-width: 100%;
}


h1{
font-size: 9.6rem;
align-items: center;
text-align: center;
color: var(--main-color);
}

.team-main{
display: flex;
justify-content: space-evenly;
}


.team-main:hover>.meredith {
    filter: brightness(0.3);
}
.meredith:hover.meredith {
    filter: none !important;
}

.team-main:hover>.jason {
    filter: brightness(0.3);
}

.jason:hover.jason {
    filter: none !important;
}
.team-main:hover>.ryan {
    filter: brightness(0.3);

}
.ryan:hover.ryan {
    filter: none !important;
}
.team-main:hover>.james {
    filter: brightness(0.3);
}

.james:hover.james {
    filter: none!important;
}

.meredith:hover:after{
content: "Meredith";
background-image: url("../img/Rectangle27.png");
position: absolute;
width: 40.5rem;
height: 15.5rem;
left: 11.5rem;
top: 286.5rem;
background: rgba(163, 83, 10, 0.7);
transform: matrix(1, 0, 0, 1, 0, 0);
font-family: 'Volkhov';
font-style: normal;
font-weight: 400;
font-size: 4.8rem;
display: flex;
align-items: center;
justify-content: center;
color: #FFFAFA;
border-radius: 0 0 35px 35px;
filter: none !important;

}


.jason:hover:after {
content: "Jason";
background-image: url("../img/Rectangle27.png");
position: absolute;
width: 39.2rem;
height: 15.5rem;
left: 54.5rem;
top: 286.5rem;
background: rgba(163, 83, 10, 0.7);
transform: matrix(1, 0, 0, 1, 0, 0);
font-family: 'Volkhov';
font-style: normal;
font-weight: 400;
font-size: 4.8rem;
display: flex;
align-items: center;
justify-content: center;
color: #FFFAFA;
border-radius: 0 0 35px 35px;
filter: none!important;
}


.ryan:hover:after {
content: "Ryan";
background-image: url("../img/Rectangle27.png");
position: absolute;
width: 40rem;
height: 15.5rem;
left: 95.8rem;
top: 286.5rem;
background: rgba(163, 83, 10, 0.7);
transform: matrix(1, 0, 0, 1, 0, 0);
font-family: 'Volkhov';
font-style: normal;
font-weight: 400;
font-size: 4.8rem;
display: flex;
align-items: center;
justify-content: center;
color: #FFFAFA;
border-radius: 0 0 35px 35px;
filter: none!important;
}


.james:hover:after {
content: "James";
background-image: url("../img/Rectangle27.png");
position: absolute;
width: 39.8rem;
height: 15.5rem;
left: 138.2rem;
top: 286.5rem;
background: rgba(163, 83, 10, 0.7);
transform: matrix(1, 0, 0, 1, 0, 0);
font-family: 'Volkhov';
font-style: normal;
font-weight: 400;
font-size: 4.8rem;
display: flex;
align-items: center;
justify-content: center;
color: #FFFAFA;
border-radius: 0 0 35px 35px;
filter: none!important;
}

/* contact-us */

.contact-us{
padding: 0 5%;
}

.contact-us-header{
font-size: 6.4rem;
text-align: center;
color: var(--main-color);
max-width: 100%;
}

.contact-us-box-main {
display: flex;
justify-content: space-around;
max-width: 100%;
margin: 0 auto;
align-items: center;
flex-wrap: wrap;
}

.contact-us-box-one {
display: flex;
flex-direction: column;
max-width: 40%;
}

.contact-us-box-two{
display: flex;
align-items: center;
height: 100%;
max-width: 100%;
}

.form{
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: #E5E5E5;
max-width: 100%;
max-height: 70%;
padding: 3% 4%;
}
.form-block-one{
display: flex;
justify-content: space-between;
padding-bottom: 4%;
height: 20%;
}

.form-block-two {
display: flex;
width: 100%;
height: 40%;
}

input, textarea{
font-size: 3.6rem;
color: rgba(0, 0, 0, 0.5);
   
}

textarea{
resize: none;
padding-left: 2%;
width: 100%;
}

input[type="text"] {
    width: 40%;
    padding-left: 2%;
    margin-right: 5%;
}
input[type="email"] {
    width: 50%;
    padding-left: 6%;
}

.contact{
display: flex;
justify-content: space-around;
font-style: italic;
font-weight: 600;
font-size: 3.0rem;
color: var(--main-color);
padding-top: 5%;
width: 100%;
}

.contact-block-one,
.contact-block-two,
.contact-block-three{
text-align: center;
}
.contact-block-two{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.contact a{
text-decoration: none;
color: var(--main-color);
}

.bold{
font-style: normal;
font-weight: 700;
}

.contact-block-two-title{
font-style: normal;
font-weight: 700;
font-size: 3.6rem;
}

.contact-block-three-text{
display: flex;
flex-direction: column;
justify-content: space-between;
}


@media screen and (min-width: 1620px) {
    body {
        margin: 0 5%;
    }
    
}


@media (min-width: 768px) and (max-width: 992px)  {
 .gallery{
    flex-direction: row;
    flex-wrap: wrap;
 }
 
.gallery-blok-one {
        transform: translateX(-100vw);
        animation: animateOne 1s linear 1s alternate forwards;
    }

    @keyframes animateOne {
        0% {
            transform: translateX(-100vw);
        }
      
        50% {
            transform: translateX(-50vw);
        }
      
        100% {
            transform: translateX(0vw);
        }
    }

    .gallery-img-two {
        transform: translateX(-100vw);
        animation: animateTwo 1s linear 1s alternate forwards;
    }

    @keyframes animateTwo {
        0% {
            transform: translateX(-100vw);
        }

        50% {
            transform: translateX(-50vw);
        }


        100% {
            transform: translateX(0vw);
        }
    }

    .gallery-img-trhee {
        transform: translateX(-100vw);
        animation: animateThree 1s linear 2s alternate forwards;
    }

    @keyframes animateThree {
        0% {
            transform: translateX(-100vw);
        }

        50% {
            transform: translateX(-50vw);
        }

        100% {
            transform: translateX(0vw);
        }
    }

    .gallery-img-five {
        transform: translateX(100vw);
        animation: animateFive 1s linear 2s alternate forwards;
    }

    @keyframes animateFive {
        0% {
            transform: translateX(100vw);
        }

        50% {
            transform: translateX(50vw);
        }

        100% {
            transform: translateX(0vw);
        }
    }

        .gallery-blok-four {
            transform: translateX(100vw);
            animation: animateSix 1s linear 2s alternate forwards;
        }
    
        @keyframes animateSix {
            0% {
                transform: translateX(100vw);
            }
    
            50% {
                transform: translateX(50vw);
            }
    
            100% {
                transform: translateX(0vw);
            }
        }


    .services{
    display: flex;
    flex-direction: column-reverse;
 }

.services-img-five{
   order: 2; 
}


.team-main{
    flex-wrap: wrap;
}

.team-main:hover>.meredith {
    filter: none
}


.team-main:hover>.jason {
    filter: none;
}


.team-main:hover>.ryan {
    filter: none;

}


.team-main:hover>.james {
    filter: none;
}
.meredith:hover:after {
    left: 4.5rem;
    top: 440rem;
}

.jason:hover:after {
    left: 50rem;
    top: 440rem;
}

.ryan:hover:after {
    left: 4.5rem;
    top: 500rem;
}

.james:hover:after {
    left: 49rem;
    top: 500rem;
}


.contact-us-box-main{
    flex-direction: column-reverse;}
.contact{
    order: 3;
    }
.contact-us-box-two {
    order: 2;
    }

}





@media screen and (max-width: 768px) {
   .gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;


}
   .services>.services-img-five{
    display: none;
   }

   .team-main{
    display: flex;
    flex-direction: column;
  }
.team-main:hover>.meredith {
    filter: none
}


.team-main:hover>.jason {
    filter: none;
}


.team-main:hover>.ryan {
    filter: none;

}


.team-main:hover>.james {
    filter: none;
}

.meredith:hover:after {
    left: 0.2rem;
    top: 490.5rem;
 }
.jason:hover:after {
     left: .1rem;
    top: 545rem;
}
.ryan:hover:after {
    left: .1rem;
    top: 613rem;
   }
.james:hover:after {
     left: .1rem;
    top: 680rem;
   }
.contact-us-box-main{
    display: flex;
    flex-wrap: wrap-reverse;
}
.contact-us-box-two{
    order: 2;
}


}